.signup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(201, 200, 200);
}
h1 {
  font-size: 24px;
}
.signup__card {
  background-color: white;
  width: 800px;
  height: 527px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}
.signup__item--1 {
  flex: 2;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signup__item--2 {
  background-color: rgb(222, 235, 255);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  flex-direction: column;
  font-size: large;
  border-radius: 0px 20px 20px 0px;
}

.signup__img {
  height: 200px;
  width: 200px;
}

.input__form {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  border: 1px solid black;
  padding-left: 10px;
  
}

.button__form {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  background-color: rgb(243, 77, 77);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 20px;

  &.button__form--webauthn {
    background-color: gray;
  }
}
.a__item {
  font-size: small;
  color: blue;
}
.span__item {
  margin-top: 10px;
  font-size: small;
}
