.introduce__container {
  font-size: 16px;
  height: 40px;
  background-color: rgb(244, 247, 246);
  color: rgb(3, 177, 119);

  display: flex; /* biến container thành flex */
  justify-content: center; /* căn giữa ngang */
  align-items: center; /* căn giữa dọc */
}

.img__introduce {
  height: 16px;
  margin-left: 3px; /* cách chữ 1 chút */
}

.header__container--2 {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  direction: row;
  margin: 10px 40px;
}

.img__logo--brand {
  height: 40px;
  width: 90px;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-right: 40px;
}
.search__input {
  width: 790px;
  height: 30px;
}

.search__button {
  width: 90px;
  height: 35px;
  margin-right: 50px;
  background-color: aliceblue;
  color: rgb(85, 85, 251);
}

.login__container {
  height: 40px;
  display: flex;
  padding-top: 5px;
  margin-right: 40px;
}

.img__logo--account {
  width: 25px;
  height: 25px;
}
.link__text {
  font-size: 16px;
  text-decoration: none;
  color: rgb(133, 130, 130);
}

.cart__container {
  height: 40px;
  display: flex;
  padding-top: 5px;
}
