
.signin__container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(201, 200, 200);
}
h1{
    font-size: 24px;
}
.signin__card {
  background-color: white;
  width: 800px;
  height: 527px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}
.signin__item--1 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px;
}
.signin__item--2 {
  background-color: rgb(222, 235, 255);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  flex-direction: column;
  font-size: large;
  border-radius: 0px 20px 20px 0px;
  
}

.signin__img {
  height: 200px;
  width: 200px;
  
}

.input__form{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.button__form{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    background-color: rgb(243, 77, 77);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 20px;
}
.a__item{
    font-size: small;
    color:blue;
}
.span__item{
    margin-top: 10px;
    font-size: small;
}
